// Colors
$main-bg-color: #211e1f;
$second-color: #bb7043;
$main-font-color: #fff;

// Navbar
nav {
  height: 4rem;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    height: 4rem;
    a {
      color: $main-font-color;
      text-decoration: none;
    }
  }
  .isActive {
    color: $second-color;
  }
}
