@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&family=Tinos:wght@400;700&display=swap");
// font-family: 'Roboto', sans-serif;
// font-family: 'Tinos', serif;

//////////// Variables

// Fonts
$main-font: "Roboto";
$hero-font: "Tinos", serif;

// Colors
$main-bg-color: #211e1f;
$second-color: #bb7043;
$main-font-color: #fff;
$section-height: 100vmin;

// Text-transform
$text-uppercase: uppercase;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styles which probably reapet
nav,
#hero,
h3,
h4,
.review > p {
  text-transform: $text-uppercase;
  color: $main-font-color;
}

nav,
#story,
#menu,
#reviews {
  background-color: $main-bg-color;
}

// Navbar
nav {
  height: 4rem;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    height: 4rem;
  }
  .active {
    color: $second-color;
  }
}

// Hero
#hero {
  background: url("../img/hero-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: $section-height;
  .hero-text {
    font-family: $hero-font;
    font-weight: 700;

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 10rem;
    }
  }
}

// Story Section
#story,
#menu {
  height: $section-height;
  color: $main-font-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  article {
    width: 450px;
    h3 {
      font-size: 4rem;
      font-weight: normal;
      line-height: 3.5rem;
      margin: 15px 0;
      width: 40vw;
    }
    h4,
    p {
      font-weight: normal;
      line-height: 2rem;
      font-size: 1.2rem;
      width: 300px;
    }
    button {
      background-color: $second-color;
      border: none;
      width: 192px;
      height: 60px;
      margin-top: 30px;
    }
  }
  figure {
    width: 800px;
    margin-right: -12%;
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }
}

// Entertainment Section
#entertainment {
  background-color: $second-color;
  height: $section-height + 40;
  .covidInfo,
  .DayAndTime {
    text-transform: $text-uppercase;
  }
  .covidInfo {
    font-size: 1.1rem;
    width: 95%;
    padding: 5% 0 2% 20%;
  }
  .scrolling-wrapper {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .scroll {
    text-align: center;
    color: $main-font-color;
  }
  .arrow {
    border: solid #000;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    padding: 5px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .card {
    position: relative;
    display: inline-block;
    width: 750px;
    margin: 2% 5%;
  }

  figcaption {
    position: absolute;
    font-size: 2rem;
    color: $main-font-color;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .gallery__img {
    display: inline-block;
    height: 60vmin;
    // width: 100%;
    object-fit: cover;
    border: 2px solid white;
  }
  p {
    font-size: 1.2rem;
  }
  .DayAndTime {
    color: $main-font-color;
    margin: 5% 0;
  }
  .info {
    white-space: pre-wrap;
    width: 500px;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
  }
}

#reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #7f7f7f;
    padding: 80px;
    border-right: none;
  }
  .gin {
    border-left: none;
  }
  h2 {
    color: $main-font-color;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 5% 0;
  }
  figure {
    height: 500px;
    img {
      height: 100%;
    }
  }
}

#footer {
  background-color: $main-bg-color;
  display: flex;
  height: 90vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  .infos,
  .logo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 5% 0;
    h4 {
      color: $second-color;
      font-size: 1.3rem;
    }
    ul {
      list-style-type: none;
      li {
        color: $main-font-color;
        width: 17rem;
        line-height: 1.8rem;
      }
    }
    img {
      margin-left: 70%;
    }
    .openingHours {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
  .downLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-top: 1px solid #7f7f7f;
    padding: 5%;
  }
  .socialMedia {
    position: absolute;
    right: 15%;
  }
}
